
{#{% block stylesheets %}#}
{#    <link rel="stylesheet" href="{{ asset('css/xxx.css') }}">#}
{#{% endblock %}#}

<div id="includedPartial" class="w-100 h-100 py-3">
    <!-- NOM DE LA CLASSE -->
    <div style="height: 15%" class="mb-1 text-center">
        <h2 class="fw-bold mb-3">Détails de ma classe</h2>
        <div class="input-group justify-content-center w-auto mx-auto">
            <label>
                <input data-db-id="{{ class.id }}" id="classTitle" type="text" class="form-control text-center fw-semibold border-dark-subtle"
                       value="{{ class.name }}" style="max-width: 250px;">
            </label>
        </div>
    </div>

    <!-- LISTE DES ÉLÈVES -->
    <div style="height: 65%" class="mb-4 pb-2 px-5 rounded-bottom-5">
        <div class="d-flex justify-content-between mb-3">
            <h4 class="fw-bold mb-0">Liste des élèves</h4>
            <div class="dropdown ">
{#                todo: bulk edit#}
                <button class="btn btn-warning dropdown-toggle disabled" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Modification de masse
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Appliquer un entrainement</a></li>
                    <li><a class="dropdown-item" href="#">Supprimer les élèves</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>
        </div>

        {% if students|length > 0 %}
            <div class="table-responsive rounded overflow-auto h-100" style="max-height: 100%">
                <table class="table table-hover align-middle mb-0 table-bordered">
                    <thead class="table-light"  >
                    <tr class="text-center">
                        <th scope="col" class="ps-4 text-start">Nom prénom</th>
                        <th scope="col">Identifiant</th>
                        <th scope="col">Entrainement</th>
{#                        <th scope="col">Modifié</th>#}
                    </tr>
                    </thead>
                    <tbody class="h-100">
                    {% for student in students %}

                        <tr
                            data-row-edited="false" data-db-id="{{ student.id }}"  style="cursor: pointer"
                            onclick="location.href='{{ path('teacher_student_view', { learnerId: student.learnerId }) }}';"
                        >
                            <!-- Nom prénom -->
                            <td class="w-25 ps-4 fw-medium text-start">
                                {{ student.prenomEleve }} {{ student.nomEleve }}
                            </td>

                            <!-- Identifiant -->
                            <td class="w-25 ps-4 fw-medium text-center">
                                {{ student.learnerId  }}
                            </td>

                            <!-- Entrainement -->
                            <td class="w-auto text-center">
                                {% if student.entrainement is defined %}
                                    <select data-db-id="{{ student.entrainement.id ?? ''}}" class="align-self-center m-auto w-75 form-select" aria-label="Training selector">
                                        <option selected>{{ student.entrainement.nom ?? '' }}</option>
{#                                        {% for training in global_trainings %}#}
                                        <option value=""></option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                {% else %}
                                    <span class="text-muted">ERREUR</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="alert alert-secondary text-center my-4">
                Aucun élève dans cette classe.
            </div>
        {% endif %}
    </div>

    <!-- BOUTONS -->
    <div style="height: 20%" class="d-flex justify-content-between align-items-center px-4">
        <!-- DEL/CANCEL -->
        <div class="d-flex gap-2">
            <button class="btn text-black text" style="background-color: rgba(230,97,97,0.58)" >
                <i class="bi bi-trash me-1"></i> Retirer un élève
            </button>
            <button id="input_cancel_button" class="btn btn-outline-secondary disabled">
                Annuler
            </button>
        </div>

        <!-- SAVE/ADD -->
        <div class="d-flex gap-2">
            <form id="save_form" action="{{ path('class_update') }}" method="POST">
                <button type="submit" id="input_save_button" class="btn btn-outline-success disabled">
                    Enregistrer
                </button>
            </form>
            <button class="btn btn-dark">
                <i class="bi bi-plus-circle me-1"></i> Ajouter un élève
            </button>
        </div>
    </div>
</div>
