{% extends 'base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/dashboardElementListDetails.css') }}">
    <link rel="stylesheet" href="{{ asset('css/carousel.css') }}">
    <link rel="stylesheet" href="{{ asset('css/training.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/carousel.js') }}"></script>
{% endblock %}


{% block body %}
    {% block header %}
        {% include 'components/header.html.twig' with {
            breadcrumb_items: [
                {'label': 'Entrainements ', 'url': path('class_dashboard')}
            ]
        } %}
    {% endblock %}

    <div class="training-container">
        <div class="training-header">
            <div class="training-title">Nom de l’entraînement :</div>

            <div class="training-name-input">
                <input type="text" value=" {{ training.LearningPathID }}">

                <div class="btn-save" id="saveTrainingName">
                    <i class="bi bi-check2 me-1"></i>
                </div>

                <div class="btn-cancel" id="cancelTrainingName">
                    <i class="bi bi-x-lg me-1"></i>
                </div>
            </div>
        </div>


        <div class="carousel">
            <button class="carousel-arrow arrow-left">❮</button>

            <div class="carousel-viewport">
                <div class="carousel-track" id="carouselTrack">
                    {% for objectif in objectifs %}
                        <div class="objective-card card border-0 shadow-sm text-center hover-card" data-id="{{ objectif.id }}">
                            <div class="card-body py-4">
                                <div class="mb-2">
                                    <i class="bi bi-bullseye text-violet fs-3"></i>
                                </div>

                                <h6 class="card-subtitle fw-semibold text-violet mb-1">
                                    Nom de l’objectif :
                                </h6>
                                <div class="objective-title mb-2">
                                    {{ objectif.name }}
                                </div>

                                {# Nombre de niveaux #}
                                <div class="objective-info">
                                    <i class="bi bi-layers text-violet me-1"></i>
                                    <span>
                                        {{ objectif.niveaux|length }} niveau(x)
                                    </span>
                                </div>
                            </div>
                            <div class="card-footer bg-transparent border-0">
                                <button type="button"
                                        class="btn btn-violet w-100 fw-semibold">
                                    <i class="bi bi-pencil-square me-1"></i>
                                    Modifier l’objectif
                                </button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <button class="carousel-arrow arrow-right">❯</button>
        </div>
        <div id="carouselIndicator" class="carousel-indicator">
            Objectif 1 / {{ objectifs|length }}
        </div>

        <div style="text-align:center;">
                <button class="btn btn-dark w-25 mt-2">
                    Ajouter un objectif
                <i class="ms-1 bi bi-plus-circle"></i>
            </button>
        </div>

    </div>

{% endblock %}
