{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/dashboardElementListDetails.css') }}">
{% endblock %}

{% block body %}
    {% block header %}
        <header class="container-fluid mt-4 text-center">
            <div class="row">
                <div class="col-1 align-self-start">
                    <a href="{{ path('teacher_logout') }}">⬅</a>
                </div>
                <div class="col-10 align-self-center">
                    <img src="{{ asset('images/logo.png') }}" alt="logo_adaptable">
                </div>
            </div>
        </header>
    {% endblock %}

    <div class="container-fluid py-3">
        <div class="row h-100 g-3">
            <!-- Liste des classes -->
            <div class="col-12 col-md-4 col-lg-3">
                <div class="element-list-container shadow-sm dashboard-container">
                    <h4 class="fw-bold mb-3">{{ label_element_list_title }}</h4>
                    <div class="element-list overflow-auto">
                        <div class="d-flex flex-column gap-2">
                            {% for element in elements %}
                                <input
                                    type="radio"
                                    class="btn-check"
                                    name="elementSelection"
                                    id="element-{{ loop.index }}"
                                    data-id="{{ element.id }}"
                                    autocomplete="off"
                                >
                                <label
                                    class="btn btn-light text-start"
                                    for="element-{{ loop.index }}"
                                >
                                    {{ element.name }}
                                </label>
                            {% endfor %}
                        </div>
                        <hr>
                        <button class="btn btn-dark w-100 mt-2">
                            {{ label_element_list_add }}
                            <!-- ico "+" a mettre -->
                        </button>
                    </div>
                </div>
            </div>

            <!-- Détails de la classe -->
            <div class="col-12 col-md-8 col-lg-9">
                <div id="element-detail" class="element-detail shadow-sm h-100 dashboard-container">
                    <h2 class="fw-bold mb-3">{{ label_element_details_not_found_title }}</h2>
                    <p class="text-primary fs-5">Sélectionner un élément pour voir le détail de celui-ci s’afficher</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        const fetchUrlTemplate = {{ fetchUrlTemplate }};
    </script>
    <script src="{{ asset('js/partial_includers/dashboardElementDetails.js') }}"></script>
    <script src="{{ partial_script }}"></script>
{% endblock %}
