{% extends '/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/dashboard/dashboard.css') }}">
    {% for cssFile in dashboard_css %}
        <link rel="stylesheet" href="{{ cssFile }}">
    {% endfor %}
{% endblock %}

{% block body %}
    {% block header %}
        {% include '/components/header.html.twig' with {
            breadcrumb_items: [
                {'label': 'Dashboard', 'url': path('class_dashboard')},
            ]
        } %}
    {% endblock %}

    <div class="container-fluid py-0">
        <div class="tabs-container">
            <ul class="nav nav-tabs custom-wide-centered-tabs justify-content-center">

                <li class="nav-item">
                    <button class="nav-link {{ target == 'classes' ? 'active' : '' }}"
                            data-bs-toggle="tab"
                            data-bs-target="#classes-pane">
                        Classes
                    </button>
                </li>

                <li class="nav-item">
                    <button class="nav-link {{ target == 'trainings' ? 'active' : '' }}"
                            data-bs-toggle="tab"
                            data-bs-target="#trainings-pane">
                        Entraînements
                    </button>
                </li>

            </ul>
        </div>

        <div class="tab-content" id="dashboardTabsContent">

            <div class="tab-pane fade {{ target == 'classes' ? 'show active' : '' }}"
                 id="classes-pane"
                 role="tabpanel">

                <div class="row h-100 g-3">
                    <div class="col-12 col-md-4 col-lg-3">
                        <div class="element-list-container shadow-sm dashboard-container overflow-auto"
                             data-dashboard-pair="classes"
                             data-partial-list
                             data-list-url="{{ path('class_list_partial') }}">
                        </div>
                    </div>

                    <div class="col-12 col-md-8 col-lg-9">
                        <div class="element-detail shadow-sm h-100 dashboard-container"
                             data-dashboard-pair="classes"
                             data-partial-detail
                             data-detail-url-template="{{ path('class_details', {id: '__ID__'}) }}">
                            <h2 class="fw-bold mb-3">Ma classe</h2>
                            <p class="text-primary fs-5">Sélectionner un élément pour voir le détail de celui-ci s’afficher</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade {{ target == 'trainings' ? 'show active' : '' }}"
                 id="trainings-pane"
                 role="tabpanel">

                <div class="row h-100 g-3">
                    <div class="col-12 col-md-4 col-lg-3">
                        <div class="element-list-container shadow-sm dashboard-container overflow-auto"
                             data-dashboard-pair="trainings"
                             data-partial-list
                             data-list-url="{{ path('training_list_partial') }}">
                        </div>
                    </div>

                    <div class="col-12 col-md-8 col-lg-9">
                        <div class="element-detail shadow-sm h-100 dashboard-container"
                             data-dashboard-pair="trainings"
                             data-partial-detail
                             data-detail-url-template="{{ path('training_details', {id: '__ID__'}) }}">
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    {% include '/components/toast.html.twig' with {
        toast_success_title: "Informations mis à jour",
        toast_success_message: "Les informations ont bien été enregistrées.",
        toast_error_title: "Erreur de mise à jour",
        toast_error_message: "Impossible d’enregistrer les modifications."
    } %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/partials/partialManager.js') }}"></script>
    <script src="{{ asset('js/partials/dashboard.js') }}"></script>

    {% for jsFile in dashboard_js %}
        <script type="module" src="{{ jsFile }}"></script>
    {% endfor %}

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const target = "{{ target }}";
            if (target === "trainings") {
                window.reloadDashboardPair("trainings");
            } else {
                window.reloadDashboardPair("classes");
            }
        });
    </script>

{% endblock %}
