<div class="w-100 h-100 py-3">
    <h4 class="fw-bold mb-3">Liste des entraînements</h4>

    <div class="training-list overflow-auto">
        <div class="d-flex flex-column gap-2">
            {% for training in trainings %}
                <input
                    type="radio"
                    class="btn-check"
                    name="elementSelection_trainings"
                    id="trainings-training-{{ loop.index }}"
                    data-id="{{ training.id }}"
                    autocomplete="off"
                >
                <label
                    class="btn btn-light text-start"
                    for="trainings-training-{{ loop.index }}"
                >
                    {{ training.name }}
                </label>
            {% endfor %}
        </div>

        <hr>

        <button
            id="addTrainingBtn"
            class="btn btn-dark w-100 mt-2"
            data-action="{{ path('training_add') }}"
        >
            Ajouter un entraînement
            <i class="ms-1 bi bi-plus-circle"></i>
        </button>
    </div>

    <div class="modal fade" id="addTrainingModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Nouvel entraînement</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <label class="form-label fw-semibold" for="newTrainingName">
                        Nom de l’entraînement
                    </label>
                    <input
                        type="text"
                        id="newTrainingName"
                        class="form-control"
                        placeholder="Nom de l’entraînement"
                    >
                </div>

                <div class="modal-footer">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                    >
                        Annuler
                    </button>
                    <button
                        type="button"
                        class="btn btn-success"
                        id="confirmAddTraining"
                    >
                        Créer
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
